<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Burger App</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/cats.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>