<h1>Who's Hungry!?!</h1>

<h2>Lets get to the good eatin!</h2>

<ul>

    {{#each burgerObj}}
    {{#unless this.devoured}}
    <li>
        {{this.burger_name}}
    </li>
    {{/unless}}
    {{/each}}

</ul>

<h2>Did you save any for the rest of us!?!</h2>

<ul>

    {{#each burgerObj}}
    {{#if this.devoured}}
    <li>
        {{this.burger_name}}
    </li>
    {{/if}}
    {{/each}}

</ul>

<h2>Whats next on the menu?</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">New Burger:</label>
        <input type="text" id="burg" name="name">
    </div>

    <div class="form-group">
        {{!-- <label for="sleepy">What are you gonna do?</label><br> --}}
        <button type="button" name="devoured" value="1">Devour!!!</button>
        {{!-- <button type="button" name="devoured" value="1">Devour!!!</button> --}}

        {{!-- <input type="radio" name="devoured" value="1" checked> Devour!!!<br> --}}
        {{!-- <input type="radio" name="devoured" value="0"> Not Hungry --}}
    </div>

</form>