body {
  background-image: url(../images/burgerPic.jpg);
  background-position: center;
}

h1 {
  color: yellow;
}

h2 {
  color: yellow;
}

ul {
  color: yellow;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
label {
  color: yellow;
}

body {
  text-align: center;
}
